/* Backgraund */


body {
    
    background-size: 10%;
    background-image: url("/IMG/fondo\ copia.jpg");
  
   
}
.container {
    width: 90%;
    margin: auto;
}

section {
    margin-top: 20px;
    padding: 100px;
    height: 80px;
}
/*------navegador-----------*/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: #000000;
    height: 80px;
    width: 100%;
}
.enlace{
    
    position: absolute;
    padding: 20px 50px;
}
.logo{
    padding: 0px;
    height: 50px;
}
/*------espaciado para dejar el logo-----------*/
.Boton_ONE{
    padding: 0px 150px;

}
nav ul{
    justify-content: flex-end;
    float: center;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{

    color: #fff;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #4d4d4d81;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    background: url(fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}
/*-----probando Flex-----*/
.box-card{
  
    
    justify-content:center;
    display: flex;
    flex-flow: row wrap;

  
    
}

/* Caja producto */
.card{
    
    z-index: 1;
    position: relative;
    
    margin: 3%;
    width: 350px;
    /*--height 190Px_*/
    height: 320px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgb(0,0,0,0.15);
    transition: 0.2s;
    background: linear-gradient(45deg, #ffc5f2, #ffeec4);
}
.card:hover{
    height: 458px;
}
.imgBx{
    position: relative;
    left: 23%;
    margin: -10px;

    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgb(0,0,0,0.35);
    overflow: hidden;
    transition: 0.5s;

}
.card:hover .imgBx{
    width: 250px;
    height: 250px;

}
.imgBx img{
    position: absolute;
   
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    
}
.card .content .details{
    padding: 50px;
   
    width: 100%;
    transition: 0.5s

}
.card .content .details h2{
    padding: 30px;
    text-align: center;
    font-size:  1.25em;
    font-weight: 400;
    color: #555;
    line-height: 1.2em;

}






.card .content .details h2 span {
    
    font-size:  0.85em;
    font-weight: 600;
    opacity: 0,5;

}
.card .content .details {
    display: flex; 
   
    margin: 10px 0;

}
.TitleProducto{
   
    position: absolute;
    top: 3%;
    left: 30%;   
}
.btn_01{
    position: absolute;
    top: 80%;
    left: 20%; 

}

.btn_01:hover {
    opacity: .5;
}


/* foter pie de pagina */

.page-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
}


   

/* formulario */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  font-family: Roboto;
}
                    /* Fex---formulario*/
.Box_formula {
   display:flex;
   flex-direction:column;
   justify-content: space-around;
   height: 100%;
    padding:  40px 350px;;
    
}




.section_o1 {
    width: 400px;           /* Ancho de 150 píxeles */
    height: 60px;          /* Alto de 150 píxeles */
    background: rgb(0, 0, 0);        /* Fondo de color  */   
}
.Prim_form {
    color: #ffffff;
    padding: 0px 10px;
    text-align:center;

}
.Sub_fom {
    width: 400px;           /* Ancho de 150 píxeles */
    height: 20px;          /* Alto de 150 píxeles */
    background: rgb(255, 255, 255);        /* Fondo de color  */   
    text-align:center;
    color: #000000;

}
.P_fom {
    width: 400px;           /* Ancho de 150 píxeles */
    height: 20px;          /* Alto de 150 píxeles */
    background: rgb(0, 0, 0);        /* Fondo de color*/   
    text-align:center;
    color: #ffffff;
}




/* ---------------------------- */


.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 38px;
  height: 38px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 25px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 7px;
  transition:all .25s;
}





.MAP{
    display: center-block;
    padding: 1%;
}



.wrapper {
	max-width: 1200px;
	margin: 0 auto;
    width: auto;
}

.slider {
	position: relative;
}

.slides {
	position: relative;
	display: flex;
	overflow: hidden;
}

.slide {
	width: 100vw;
	flex-shrink: 0;
	animation-name: slide;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.slides:hover .slide {
	animation-play-state: paused;
}

.slide img {
	width: 100%;
	vertical-align: top;
}

.slide a {
	width: 100%;
	display: inline-block;
	position: relative;
}

.caption {
	color: white;
	text-shadow: 1px 1px black;
	font-size: 8vw;
	position: absolute;
	bottom: 8vw;
	right: 4vw;
}

.slide:target {
	animation-name: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
}

.slider-controler {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	padding: 5px;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
}

.slider-controler li {
	margin: 0 0.5rem;
	display: inline-block;
	vertical-align: top;
}

.slider-controler a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}

.contacts{
    padding: 2%;
}



/* Historia*/
    .Cubo_tex02{
        width: 100%; 
        height: 40px; 
        font-family: Roboto;
        padding: 10px 20px;
        background: #000000b0;
        color: white;
        text-align: center;

    }
    .Cubo_tex{
        font-family: Roboto;
        padding: 10px 20px;
        background: #000000b0;
        color: white;
        text-align: center;
    }
    .showcase {
        z-index: 9;
        color: white;
        width: 100%;
        height: 550px;
        background: url(/IMG/Historia.jpg) no-repeat center center/cover;
        padding-bottom: 50px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
  
    .showcase h2. .showcase p {
        margin-bottom: 10px;
    }


    /*------despacho----*/  
    .Cubo_tex03{
        width: 100%; 
        height: 40px; 
        font-family: Roboto;
        padding: 10px 20px;
        background: #000000b0;
        color: white;
        text-align: center;

    }
    .Cubo_tex4{
        font-family: Roboto;
        padding: 10px 20px;
        background: #000000b0;
        color: white;
        text-align: center;
    }
  
    .showcase01 {
        color: white;
        width: 100%;
        height: 550px;
        background: url(/IMG/despacho.jpg) no-repeat center center/cover;
        padding-bottom: 50px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;


    /*font-family: 'Merriweather', serif;*/
  }
  
  h1 {
    font-weight: 900;
    text-align: center;
  }
  
  h3 {
    font-weight: 300;
  }
  
  .flap {
    width: 100%;
    height: 100%;
  }
  
  
/* despacho*/


.Web_contruc {
    
    display: flex;
    justify-content: center;
    align-items: center;
   
}
/*----------------------------------*/

* { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body {
	font-family: sans-serif;
}

/* slider */




/* respon Footer */

@media (max-width: 320px){
    body {
    
        background-size: 25%;
        background-image: url("/IMG/fondo\ copia.jpg");
    }
    iframe{
        width: 50%;


    }
    
    

        .footer-distributed{

        height: 90vh;
        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
        "footer-right"
        "footer-left"
        "footer-links"
        "a"
        "a"    
        "a";
     }
     nav .checkbox .check .checkbtn {
        z-index: 9;
        display: flex;
        flex-direction:column;
    
    }
    .contacts{
        display:center;
    }
    .wrapper01{
        height: 90vh;
        display: grid;
        grid-template-columns: repeat(1, 90%);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "contacts"
        "form";
    }
    /*--------Grid form--------------*/

}
  

 


 



  /*-------------navegador------------*/

  @media (max-width: 768px){
   
    .wrapper{
        display: none;
    
    }

    body {
    
        background-size: 15%;
        background-image: url("/IMG/fondo\ copia.jpg");
    }
    .footer-distributed{
        height: 90vh;
        display: grid;
        grid-template-columns: repeat(1, 90%);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
        "footer-right"
        "footer-left"
        "footer-links"
        ""
        ""    
        "";}
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 0px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
       
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
       
        font-size: 20px;
    }
    li a:hover, li a.active{
        
        background: none;
        color: rgb(0, 255, 204);
    }
    #check:checked ~ ul{
        z-index: 9;
        left:0;
    }
}
/*_____________________________________________________________*/
li{
    width: 200px;
  }
/* slider */

@keyframes slide {
	0% { transform: translateX(0); }
	10% { transform: translateX(0); }

	15% { transform: translateX(-100%); }
	30% { transform: translateX(-100%); }

	35% { transform: translateX(-200%); }
	50% { transform: translateX(-200%); }

	55% { transform: translateX(-300%); }
	70% { transform: translateX(-300%); }

	75% { transform: translateX(-400%); }
	90% { transform: translateX(-400%); }

	95% { transform: translateX(-500%); }
	100% { transform: translateX(-500%); }
}

* { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body {
	font-family: sans-serif;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.slider {
	position: relative;
}

.slides {
	position: relative;
	display: flex;
	overflow: hidden;
}

.slide {
	width: 100vw;
	flex-shrink: 0;
	animation-name: slide;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.slides:hover .slide {
	animation-play-state: paused;
}

.slide img {
	width: 100%;
	vertical-align: top;
}

.slide a {
	width: 100%;
	display: inline-block;
	position: relative;
}

.caption {
	color: rgba(255, 255, 255, 0.7);
	text-shadow: 1px 1px black;
	font-size: 4vw;
	position: absolute;
	bottom: 8vw;
	right: 4vw;
}

.slide:target {
	animation-name: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
}

.slider-controler {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	padding: 5px;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
}

.slider-controler li {
	margin: 0 0.5rem;
	display: inline-block;
	vertical-align: top;
}

.slider-controler a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}

/*----buscador----*/

  
input {
    outline: none;
}
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none; /* quitar el icono de buscar y cancelar */
}

/* search input field */
input[type=search] {
    background: #ededed url(http://webdesignerwall.com/demo/expandable-search-form/images/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 55px;
    
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
input[type=search]:focus {
    width: 130px;
    background-color: #fff;
    border-color: #6dcff6;
    
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}

/* placeholder */
input:-moz-placeholder {
    color: #999;
}
input::-webkit-input-placeholder {
    color: #999;
}

/* demo B */
#demo-b input[type=search] {
    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
}
#demo-b input[type=search]:hover {
    background-color: #fff;
}
#demo-b input[type=search]:focus {
    width: 130px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
}
#demo-b input:-moz-placeholder {
    color: transparent;
}
#demo-b input::-webkit-input-placeholder {
    color: transparent;
}
.buscador {
  float: right;
  margin: 20px;
}

/*------formulario -----*/

 
.contain01 {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }

   /*---------fonts:Roboto Mono-----------*/



.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}
/*---------Titulo Centrado--------*/
#contact h3 {
    text-align:center;
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
    text-align:center;
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}
#select pais{
    text-decoration-color: white;
    border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;

}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:rgb(0, 0, 0);
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:rgb(204, 0, 0);
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
